<!-- Footer Component -->
<footer role="contentinfo">
  <div class="container">
    
    <div class="leaderboard">
    </div>

    <div class="foot-content">
      <h4>Center Hours</h4>
      <p class="hours"><span>Today's Hours</span> 10a - 9p</p>
      <p class="hours"><span>Other Hours</span> 1a - 9a</p>
      <p class="hours">&#42; Holiday hours vary</p>

      <div class="social">
        <ul>
          <li><i class="fa fa-facebook-square"></i></li>
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-pinterest-square"></i></li>
          <li><i class="fa fa-instagram"></i></li>
        </ul>
      </div>
    </div>

  <hr>
    <div class="mall-details">
      <ul>
        <li>{{mall.streetaddress}}, {{mall.city}}, {{mall.state}}, {{mall.zip}}</li>
        <li>{{mall.phone}}</li>
        <li><a href="">Terms of Use</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>

    <img class="pw-logo" src="/images/placewise-logo.png" alt="Placewise Media">

  </div>
</footer>
